@font-face {
  font-family: Exo2;
  src: url('./assets/fonts/Exo2.0-Thin.otf') format("opentype");
}


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
  
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: Trebuchet MS, sans-serif;

  &::after {
    content: '';

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7) 100%), url(./assets/img/main-pattern.jpg);
  }
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}